.card {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  padding: 30px 0px;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }

  .card-content {
    color: white;
    width: 100%;
    padding: 15px 20px;

    .card-info {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      @media (max-width: 1230px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 700px) {
        grid-template-columns: 1fr;
      }

    .info {
      margin-bottom: 10px;

      div:first-child{
        margin-bottom: 6px;
        font-size: 25px;
        color: #ccc;
      }

      div:last-child {
        font-size: 20px;
      }
    }
    }

    .titleName {
      display: flex;
      font-size: 40px;
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 15px;
    }

    .status {
      display: flex;
      font-size: 25px;
      align-items: center;
      margin-bottom: 12px;

      .ball {
        margin-right: 10px;
        display: flex;
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        &.alive {
          background-color: rgb(24, 202, 24);
        }
        &.dead {
          background-color: rgb(240, 39, 39);
        }
      }
    }
  }
}
