<div class="card">
  <img [src]='character.image' alt="image">
  <div class="card-content">
    <div class="titleName">{{ character.name }}</div>
    <div class="status">
      <div class="ball"
      [ngClass]="{'alive': character.status === 'Alive', 'dead': character.status === 'Dead'}">
      </div>
      {{character.status}} - {{character.species}}
    </div>
    <div>
      <div class="info">
        <div>Last known location:</div>
        <div>{{character.location.name}}</div>
      </div>
      <div class="info">
        <div>First seen in:</div>
        <div>{{character.gender}}</div>
      </div>
    </div>
  </div>
</div>
