<p-table [value]="characters" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
      <tr>
          <th>Picture</th>
          <th>ID</th>
          <th>Name</th>
          <th>Status</th>
          <th>Species</th>
          <th>Type</th>
          <th>Origin</th>
          <th>Location</th>
          <th>Episode</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-character>
      <tr>
          <td>
            <img [src]='character.image'>
          </td>
          <td>{{character.id}}</td>
          <td>{{character.name}}</td>
          <td>{{character.status}}</td>
          <td>{{character.species}}</td>
          <td>{{character.type}}</td>
          <td>{{character.origin.name}}</td>
          <td>{{character.location.name}}</td>
          <td>{{character.episode}}</td>
      </tr>
  </ng-template>
</p-table>
